@model Doukala.Server.Core.Entities.Compagny

@{
    ViewBag.Title = "Details";
}

<h2>Fiche</h2>

<div>
    <h4>Compagny</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dd>
            @Html.DisplayFor(model => model.LogoAvatar)
        </dd>

       

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

       

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

       

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

       

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

      

        <dd>
            @Html.DisplayFor(model => model.Activity)
        </dd>

       

        <dd>
            @Html.DisplayFor(model => model.CodeNaf)
        </dd>

       
        <dd>
            @Html.DisplayFor(model => model.SiretNumber)
        </dd>

      

        <dd>
            @Html.DisplayFor(model => model.IntraCommunityVat)
        </dd>

       

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

       

        <dd>
            @Html.DisplayFor(model => model.WebSite)
        </dd>

      
        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>

      

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

       
        @*@*<dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
